<% provide(:title, @user.name) %>
	
<div class="center hero-unit rent">
	<div class="row">
		<aside class="col-sm-4">
		  <section>
			<% flash.each do |key, value| %>
				<%= content_tag(:div, value, class: "alert alert-#{key}") %>
			<% end %>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
				<br><%= @user.email %>
			</h1>
		  </section>
		</aside> 
	</div>
	
	
</div>
