// Place all the styles related to the FirstPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*@import "bootstrap-sprockets";
@import "config"; // Overwrite bootstrap variables here!*/
@import url(https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic);



@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* header */

.navbar-wrapper{
	padding-top: 20px;
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

.navbar{
	border-radius: 4px;
}

.logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #7F7777;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #FE2E2E;
    text-decoration: none;
  }
}

html {
  overflow-y: scroll;
}

body {
	
	font-family: 'Roboto', sans-serif;
		
  /*padding-top: 60px;
  background-image: image-url("clouds.jpg");*/
  background-position:50% 50%;
  background-repeat:no-repeat;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* Slider */

#my_car.carousel{
	width:900px;
	margin-right: auto;
    margin-left: auto;
	
}

.carousel-control {
  &.left, &.right {
    background-image: none;
    /*@include reset-filter();*/
  }
}

.otstup{
    margin-top:0px;
}

.carousel-indicators{
	/*top:480px;
	right:500px;*/
	
}

.carousel-control{
	top: 50%;
}

.carousel-control.right{
	right:15px;
}

.chevron {
    width:30%;
    position:absolute;
    top:40%;
}



.chevron-left {
    left:35%;
	top:10px;
}
.chevron-right {
    right:35%;
	top:10px;
}

.carousel-caption{
	width: 100%;
	left: inherit;
	background-color: rgba(2, 2, 2, 0.3);
	h3{
		text-align:center;
		color:#C5C5C5;
	}
}
.carousel{
	height: 500px;
    margin-bottom: 60px;
}
.carousel-inner {
	.item{
		img{
			position: absolute;
   			top: 0;
    		left: 0;
   			min-width: 102%;
    		height: 500px;
			}
		}
}


.center {
  text-align: center;
  h1{
  margin-bottom: 10px;
  }
  h1{
  font-size:24px;
  color: #3d4641;
  }
  .left{
  text-align:left;
  }
}
.left_fs{
	background-color: rgba(211, 211, 201, 0.1);
	border:4px double black;
	border-color:#333333;
	padding:10px;
}

.pic {
width: 400px;
margin: auto;
}

.bike_icon{

width: 150px;
padding: 20px
}


.rent{
	background-repeat: repeat-y;
	background-image: image-url("bikemap.gif");
	height: initial;
	/*background-image: image-url("kamenka_001.jpg");
	/*background-image: url(/assets/bikemap_960.gif);
	height: 525px;*/
	padding:20px;
	padding-top: 121px;
	
}

.red{
	color:#FF0000;
}

/* sidebar */
.row{
	background-color: rgba(211, 211, 201, 0.3);
}

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid #eee;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* footer */



footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #232A30;
  color: #999;
  height: 30px;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* container */

.container{
	height: 100%;	
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
